
/* Your CSS Code here. */
body
{
	display:flex;
	justify-content:center;
	align-items:center;
}
form
{
	background-color:white;
	padding:20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	width:300px;
}
label
{
	display:block;
	margin-top:10px;
	margin-bottom:5px;
	font-weight:bold;
}
input[type="text"],input[type="email"],input[type="password"],input[type="tel"],input[type="date"],input[type="number"],select
{
	width:100%;
	padding:8px;
	margin-bottom:5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
button
{
	width:100%;
	background-color:green;
	color:white;
	padding:8px;
	border:none;
	border-radius:5px;
}